.catalog-item {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  margin-bottom: 30px;
  width: 260px;

  outline: 1px solid @border-block;
}

.catalog-item__photo {
  width: 260px;
  height: 195px;

  border-bottom: 1px solid @border-block;
}



.catalog-item__title {
  padding: 30px 28px 10px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  color: @color-font-black;
}

.catalog-item__properties {
  margin: 0;
  padding: 0 28px 27px;

  font-size: 13px;
  line-height: 30px;
}

.catalog-item__btn {
  position: relative;

  display: inline-block;
  margin: 0 27px;
  padding: 28px 0;

  font-size: 15px;
  line-height: 24px;
  font-weight: 700;

  color: @color-font-black;
  border-top: 1px solid @border-block;

  &::after {
    content: '';

    position: absolute;
    right: 0;

    width: 22px;
    height: 22px;

    background-image: url('../../img/icon-cart.svg');
    background-repeat: no-repeat;
    opacity: 0.2;
  }

}


@media @tablet-widths-only {

  .catalog-item {
    position: relative;

    display: flex;

    width: @tablet-content-width;
    min-height: 334px;
    padding-left: 334px;
    margin-bottom: 54px;
  }

  .catalog-item__photo {
    position: absolute;
    top: 0;
    left: 0;

    width: 334px;
    height: 334px;

    border-bottom: none;
  }


  .catalog-item__title {
    font-size: 20px;
    line-height: 24px;
}

.catalog-item__properties {
  font-size: 15px;
  line-height: 30px;
}

.catalog-item__btn {
  margin-top: auto;

  font-size: 17px;
  line-height: 24px;
}

}

@media @desktop-widths {
  .catalog-item {
    width: 316px;
  }

  .catalog-item__photo {
    width: 316px;
    height: 462px;
  }


  .catalog-item__title {
    padding-bottom: 12px;
    font-size: 20px;
    line-height: 24px;
  }

  .catalog-item__properties {
    padding-bottom: 20px;

    font-size: 15px;
    line-height: 30px;
    }

  .catalog-item__btn {
    margin-top: auto;
  }
}
