.features {
  display: flex;
  flex-direction: column;

  width: @mobile-content-width;
  margin: 0 auto;
  padding-bottom: 53px;
}

.features__title {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.features__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
  }

  .features__item {
    position: relative;

    padding-top: 83px;

    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
}

.features__item-icon {
  position: absolute;

  fill: @bg-lightgreen;

  &--feature-1 {
    top: 26px;
    left: 8px;

    width: 32px;
    height: 38px;
  }

  &--feature-2 {
    top:29px;
    left:0;

    width: 47px;
    height: 27px;
  }

  &--feature-3 {
    top:34px;
    left: 7px;

    width: 33px;
    height: 28px;
  }

  &--feature-4 {
    top: 33px;
    left: 3px;

    width: 34px;
    height: 34px;
    }

  &--feature-5 {
    top: 32px;
    left: -4px;

    width: 54px;
    height: 23px;
    }

  &--feature-6 {
    top: 30px;
    left: 4px;

    width: 33px;
    height: 32px;
    }
  }

@media @tablet-widths {

  .features {
    width: @tablet-content-width;
    margin: 0 auto;

    padding-bottom: 80px;
  }

  .features__title {

    font-size: 43px;
    line-height: 50px;
    margin-bottom: 0;
  }

  .features__list {
    flex-direction: row;
    flex-wrap: wrap;

  }


  .features__item {
    width: 50%;

    padding-top: 104px;

    font-size: 20px;
    line-height: 24px;

    &--material {
      order: 1;
    }

    &--style {
      order: 3;
    }

    &--likes {
      order: 5;
    }

    &--handmade {
      order: 2;
    }

    &--national-production {
      order: 4;
    }

    &--package {
      order: 6;
      }
  }

  .features__item-icon {
    &--feature-1 {
      top: 45px;
    }

    &--feature-2 {
      top:50px;
    }

    &--feature-3 {
      top:56px;
    }

    &--feature-4 {
      top: 50px;
      }

    &--feature-5 {
      top: 52px;
      }

    &--feature-6 {
      top: 52px;
      }
  }

}

@media @desktop-widths {

  .features {
    width: 874px;
    margin: 0 auto;
    padding-left: 176px;
    padding-bottom: 85px;
  }

  .features__title {
    margin-bottom: 0;

    font-size: 53px;
    line-height: 57px;
  }

  .features__item {
    width: 350px;
  }

}
