.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid @border-block;

  &__link {
    position: relative;
    padding: 0 20px;

    display: block;
    font-size: 0;

    &--inst {
      width: 22px;
      height: 21px;
    }

    &--fb {
      width: 15px;
      height: 28px;
    }

    &--tw {
      width: 23px;
      height: 20px;
    }

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }

    }
}

.social-links__link-icon {
  position: absolute;
  &--inst {
    width: 22px;
    height: 21px;
  }

  &--fb {
    width: 15px;
    height: 28px;
  }

  &--tw {
    width: 23px;
    height: 20px;
  }

}
